.logo{
    max-width: 100%;
}

.delete{
    color: black;
    text-decoration: none;
    transition: color .4s;
    cursor: pointer;
}

.delete:hover{
    color: crimson;
}

.edit{
    position: absolute;
    top: 10px;
    right: 20px;
    color: darkgrey;
    text-decoration: none;
    transition: color .4s;
    cursor: pointer;
}

.edit:hover{
    color:black;
}

.delete-rol{
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: black;
    text-decoration: none;
    transition: color .4s;
    cursor: pointer;
}

/* Nav */
.dropdown-toggle::after {
    display:none !important;
    color: black !important;
}

.dropdown-menu{
    position: absolute;
}

/* Menu */
.btn-ligth{
    border-width: thick;
}

.option-btn{
    display: inline-block;
    padding: 5%;
    min-width: 100%;
    min-height: 225px;
    max-width: 95%;
    transition: background-color, 1s;
    cursor: pointer;
}

.option-link{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.option-btn:hover{
    background-color: rgb(220, 220, 220);
}

.option-btn img{
    width: 75%;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h5{
    line-height: 38px;
}
a h2, h5{
    text-decoration: none;
    color: black;
}

/**/
.mdiv
{
    margin-bottom: 50px;
    padding-bottom: 50px;
    z-index: -1;
}
.mdiv2
{
    background-color: white;
    z-index: 10;
}
.mlink
{
    text-decoration: none;
    color: black;
}

/* Table scroll */

#stats-table{
    height: 250px;
}


/*
#row-book-input-2{
    overflow-y: hidden;
    height: 0;
    transition: height 1s;
}
*/

.book-input, .catalog-input{
    overflow-y: hidden;
    height: 0;
    transition: height 1s;    
}


/* Image Upload */
/*
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
*/

.inputFile {
    padding: 5px 0px;
	margin-top:8px;	
    background-color: #FFFFFF;
    width: 48px;	
    overflow: hidden;
	opacity: 0;	
	cursor:pointer;
}

.icon-choose-image {
    position: absolute;
    opacity: 0.1;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    width: 48px;
    height: 48px;
}

.icon-choose-image:hover{
    cursor: pointer;
}

/*
.add-img-label{
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#cred_img{
    width: 100%;
}
*/

#uploadImgLabel{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#targetOuter{	
	position:relative;
    text-align: center;
/*    background-color: #F0E8E0;*/
    margin: 20px auto;
    width: 200px;
    height: 200px;
	border-radius: 4px;
    cursor: pointer;
}


/*
#row-book-input-2{
    overflow-y: hidden;
    height: 0;
    transition: height 1s;
}
*/

.book-input{
    overflow-y: hidden;
    height: 0;
    transition: height 1s;    
}

.warning{
    color: red !important;
    display: none;
}