.logo{
    max-width: 100%;
}

/* Nav */
.dropdown-toggle::after {
    display:none !important;
    color: black !important;
}

.dropdown-menu{
    position: absolute;
}

/* Menu */
.btn-ligth{
    border-width: thick;
}

.option-btn{
    display: inline-block;
    padding: 5%;
    min-width: 100%;
    min-height: 225px;
    max-width: 95%;
    transition: background-color, 1s;
    cursor: pointer;
}

.option-link{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.option-btn:hover{
    background-color: rgb(220, 220, 220);
}

.option-btn img{
    width: 75%;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h5{
    line-height: 38px;
}
a h2, h5{
    text-decoration: none;
    color: black;
}

/**/
.mdiv
{
    margin-bottom: 50px;
    padding-bottom: 50px;
    z-index: -1;
}
.mdiv2
{
    background-color: white;
    z-index: 10;
}
.mlink
{
    text-decoration: none;
    color: black;
}

/* Table scroll */

#stats-table{
    height: 250px;
}


/*
#row-book-input-2{
    overflow-y: hidden;
    height: 0;
    transition: height 1s;
}
*/

.book-input{
    overflow-y: hidden;
    height: 0;
    transition: height 1s;    
}
